[Desktop Entry]
Encoding=UTF-8
Name=BitcoinReal
Comment=BitcoinReal P2P Cryptocurrency
Comment[fr]=BitcoinReal, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BitcoinReal, eşten eşe kriptografik sanal para birimi
Exec=bitcoinreal-qt %u
Terminal=false
Type=Application
Icon=bitcoinreal128
MimeType=x-scheme-handler/bitcoinreal;
Categories=Office;Finance;
